<section class="orders-show">

  <header class="page-header">
    <h1>Order Summary</h1>
    <p><%= @order.email %></p>
  </header>
  
<div class="panel panel-default items">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>Image</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= image_tag item.product.image.thumb, alt: item.product.name %></td>
        <td><%= item.product.description %></td>
        <td><%= item.product.quantity %></td>
        <td><%= humanized_money_with_symbol item.product.price %></td>
        </tr>
    <% end %>
  </tbody>
      
  <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= '$' + number_with_precision((@order.total), :precision => 2, :delimiter => ',') %>
          </th>
        </tr>
      </tfoot>
</table>
</div>

<br>
  
  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
